<flash-message duration="3000">
</flash-message>
<div ng-if="loading" class="cv-loading"></div>
<div id="content">
    <div id="app" class="">
        <noscript></noscript>
        <noscript></noscript>
        <span></span>
        <div id="page">
            <div class="app resume-editor-page">
                <span><div class="toolbox martop50  ">
                <div class="toolbox-inner toolbox-hidable">
                    <div style="position:relative;overflow:hidden;width:100%;height:100%;">
                        <div style="position:absolute;top:0;left:0;right:0;bottom:0;overflow:scroll;-webkit-overflow-scrolling:touch;margin-right:-17px;margin-bottom:-15px;">
                            <div class="fixed-container">
                                <!--<div class="toolbox-heading-container bottom-sm text-center">-->
                                    <!--<img src="{{API + '/images/logo-hi.png'}}" class="visible-lg">-->
                                    <!--<img src="{{API + '/images/logo-hi.png'}}" class="hidden-lg" width="32" height="17">-->
                                <!--</div>-->
                                <div>
                                    <a class="btn btn-block btn-lg btn-light btn-text-left animated-hover visible-lg" ng-click="saveCV()">
                                        <i class="icon icon-02-free-check-mark pull-right shake"></i>
                                        <span>{{'saveCV' | translate}}</span>
                                    </a>
                                </div>
                                <div class="row row-sm history-component">
                                    <div class="col-xs-6 visible-lg">
                                        <button ng-click="goBack($event)" class="btn btn-light btn-block animated-hover"><i
                                                class="icon icon-reply right-ty wobble"></i><span>{{'back' | translate}}</span></button>
                                    </div>
                                    <!--<div class="col-xs-6 visible-lg">-->
                                        <!--<button class="btn btn-light btn-block animated-hover"-->
                                                <!--disabled=""><span>Redo</span><i-->
                                                <!--class="icon icon-share left-ty wobble"></i></button>-->
                                    <!--</div>-->
                                    <div class="col-xs-12 hidden-lg text-center">
                                        <button class="btn btn-icon btn-light animated-hover" disabled=""><i
                                                class="icon icon-reply wobble"></i></button>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="fixed-container">
                                <a ng-click="changeMenu('new-sections')" id="tp-new-section"
                                        class="btn btn-block btn-link btn-toolbox btn-text-left"><i
                                        class="icon icon-addsection-1"></i><span
                                        class="visible-lg-inline">{{'newSections' | translate}}</span></a>
                                <a ng-click="openRearrangeEditModal()"
                                        class="btn btn-block btn-link btn-toolbox btn-text-left"><i
                                        class="icon icon-rearrange-1"></i><span
                                        class="visible-lg-inline">{{'rearrange' | translate}}</span></a>
                                <a ng-click="menu='change-layout'"
                                        class="btn btn-block btn-link btn-toolbox btn-text-left"><i
                                        class="icon icon-layout-1"></i><span class="visible-lg-inline">{{'templateCV' | translate}}</span></a>
                                <a ng-click="menu='change-font'"
                                        class="btn btn-block btn-link btn-toolbox btn-text-left"><i
                                        class="icon icon-font"></i><span class="visible-lg-inline">{{'fontCV' | translate}}</span></a>
                                <a ng-click="menu='change-color'"
                                        class="btn btn-block btn-link btn-toolbox btn-text-left"><i
                                        class="icon icon-colour"></i><span class="visible-lg-inline">{{'colorCV' | translate}}</span></a>
                                <a ng-click="menu='change-background'"
                                        class="btn btn-block btn-link btn-toolbox btn-text-left"><span
                                        class="icon icon-143-feather"></span><span
                                        class="visible-lg-inline">{{'backgroundCV' | translate}}</span></a>
                                </div>
                            <hr>
                        </div>
                        <div style="position: absolute; height: 6px; transition: opacity 200ms; opacity: 0; right: 2px; bottom: 2px; left: 2px; border-radius: 3px;">
                            <div style="position: relative; display: block; height: 100%; cursor: pointer; border-radius: inherit; background-color: rgba(0, 0, 0, 0.2); width: 0px;"></div>
                        </div>
                        <div style="position: absolute; width: 6px; transition: opacity 200ms; opacity: 0; right: 2px; bottom: 2px; top: 2px; border-radius: 3px;">
                            <div style="position: relative; display: block; width: 100%; cursor: pointer; border-radius: inherit; background-color: rgba(0, 0, 0, 0.2); height: 157.286px; transform: translateY(0px);"></div>
                        </div>
                    </div>
                </div>
                <span>
                    <hoc-directive type="menu" data="cv"></hoc-directive>
                </span>
            </div>
            </span>
                <nav class="cv-menu-top navbar navbar-default navbar-fixed-top" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="navbar-brand cv-icon-page" href="#"><img src="{{API + '/images/logo-hi.png'}}" class="visible-lg">
                            <img src="{{API + '/images/logo-hi.png'}}" class="hidden-lg" width="32" height="17"></a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right" ng-if="auth.user.email">
                            <li class="cv-current-user"><span style="font-size: 14px;" ng-bind="auth.user.email"></span>&nbsp;<i class="fa fa-user" aria-hidden="true"></i></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </nav>
                <div class="resume-editor-content-box toolbox-open martop80">

                    <div class="{{hoverPage ? 'resume-editor-overlay' : ''}}"></div>

                    <span>
                        <div class="feedback-wrapper">
                          <div class="-inline-block">
                            <div id="resume-null" class="resume-renderer resume-body-font center-resume">
                                <style>

                                    #resume-null .resume-first-color {
                                        color: #000000 !important;
                                    }

                                    #resume-null .resume-first-color::-webkit-input-placeholder,
                                    #resume-null .resume-first-color input::-webkit-input-placeholder {
                                        color: #000000 !important;
                                    }

                                    #resume-null .resume-first-color:-moz-placeholder,
                                    #resume-null .resume-first-color input:-moz-placeholder {
                                        color: #000000 !important;
                                    }

                                    #resume-null .resume-first-color::-moz-placeholder,
                                    #resume-null .resume-first-color input::-moz-placeholder {
                                        color: #000000 !important;
                                    }

                                    #resume-null .resume-first-color:-ms-input-placeholder,
                                    #resume-null .resume-first-color input:-ms-input-placeholder {
                                        color: #000000 !important;
                                    }

                                    #resume-null .resume-first-background {
                                        background-color: #000000 !important;
                                    }

                                    #resume-null .resume-before-first-background::before {
                                        background-color: #000000 !important;
                                    }

                                    #resume-null .resume-first-border {
                                        border-color: #000000 !important;
                                    }

                                    #resume-null .resume-first-fill {
                                        fill: #000000 !important;
                                    }

                                    #resume-null .resume-first-stroke {
                                        stroke: #000000 !important;
                                    }

                                    #resume-null .resume-second-color {
                                        color: {{ color.applyHead }} !important;
                                    }

                                    #resume-null .resume-second-color::-webkit-input-placeholder,
                                    #resume-null .resume-second-color input::-webkit-input-placeholder {
                                        color: {{ color.applyHead }} !important;
                                    }

                                    #resume-null .resume-second-color:-moz-placeholder,
                                    #resume-null .resume-second-color input:-moz-placeholder {
                                        color: {{ color.applyHead }} !important;
                                    }

                                    #resume-null .resume-second-color::-moz-placeholder,
                                    #resume-null .resume-second-color input::-moz-placeholder {
                                        color: {{ color.applyHead }} !important;
                                    }

                                    #resume-null .resume-second-color:-ms-input-placeholder,
                                    #resume-null .resume-second-color input:-ms-input-placeholder {
                                        color: {{ color.applyHead }} !important;
                                    }

                                    #resume-null .resume-second-background {
                                        background-color: {{ color.applyHead }} !important;
                                    }

                                    #resume-null .resume-before-second-background::before {
                                        background-color: {{ color.applyHead }} !important;
                                    }

                                    #resume-null .resume-second-border {
                                        border-color: {{ color.applyHead }} !important;
                                    }

                                    #resume-null .resume-second-fill {
                                        stroke: {{ color.applyHead }} !important;
                                    }

                                    #resume-null .resume-second-stroke {
                                        stroke: {{ color.applyHead }} !important;
                                    }

                                    #resume-null .resume-heading-font {
                                        font-family: "{{font}}", Arial, Helvetica, sans-serif !important;
                                    }
                                </style>
                                <div>
                                    <layout data="cv"></layout>
                                </div>
                            </div>
                        </div>

                    </span>
                <div class="footer app-item">
                    <div class="row">
                        <div class="col-sm-3 text-center-sm">
                            <div class="muted bottom-sm">© 2020 HiCV
                            </div>
                        </div>
                        <!--<div class="col-sm-6 text-center">-->
                            <!--<ul class="list-inline footer-list bottom-sm">-->
                                <!--<li><a href="#">Upgrade</a></li>-->
                                <!--<li><a href="#" target="_blank">Terms</a></li>-->
                                <!--<li><a href="#" target="_blank">Privacy</a></li>-->
                                <!--<li><a href="#" target="_blank">Blog</a>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                        <!--<div class="col-sm-3 text-center-sm text-right">-->
                            <!--<div class="muted bottom-sm">Built with love &amp; passion-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
                </div>
                <noscript></noscript>
                <noscript></noscript>
            </div>
        </div>
        <span></span><span></span></div>
</div>
<div id="intercom-container"
        style="position: fixed; width: 0px; height: 0px; bottom: 0px; right: 0px; z-index: 2147483647;">
    <!-- react-empty: 1 --></div>
<div id="hs-beacon" class="">
    <div data-reactid-hs=".0">
        <iframe style="background:transparent;border:none;bottom:12px;height:80px;position:fixed;right:18px;top:auto;width:80px;z-index:1050;"
                data-reactid-hs=".0.0"></iframe>
        <iframe style="border:none;bottom:89px;height:0;position:fixed;right:15px;top:auto;width:450px;z-index:1050;"
                data-reactid-hs=".0.1"></iframe>
    </div>
</div>