<div id="PassionSection-1" class="resume-section PassionSection" change-height>
    <div class="resume-section-container resume-section-selected clickable editable"
         ng-click="$root.clickInputTitleSection($event)" click-off
         on-click-off="$root.clickOffInputTitleSection($event)">
        <div class="resume-section-text-container">
            <div class="editable-field-wrapper">
                <textarea
                        msd-elastic ng-model="$ctrl.data.name"
                        class="editable-field resume-first-border resume-section-text resume-heading-font resume-first-color"
                        placeholder="{{'passion' | translate}}" autocomplete="off" rows="1"
                        style="overflow: hidden; word-wrap: break-word; height: 39px;" capitalize-first>
                </textarea >
            </div>
        </div>
    </div>
    <style>
        .dndPlaceholder {
            margin-top: 5px;
            margin-bottom: 5px;
            background-color: #ddd !important;
            display: inline-block;
            min-height: 46px;
            width: 32%;
        }
    </style>
    <div dnd-list="$ctrl.data.items"
         dnd-allowed-types="[$ctrl.data.key]"
         dnd-external-sources="true"
         dnd-dragover="$ctrl.dragoverCallback(event, index, external, type)"
         dnd-drop="$ctrl.dropCallback(event, index, item, external, type)" class="moveable-items" >
        <div class="dndPlaceholder" ng-style="$ctrl.styleDndPlaceholder"></div>
        <div ng-repeat="item in $ctrl.data.items"
             dnd-type="item.key"
             dnd-effect-allowed="copyMove"
             dnd-moved="$ctrl.data.items.splice($index, 1)"
             dnd-draggable="$ctrl.getSelectedItemsIncluding($ctrl.data, item)"
             dnd-dragstart="$ctrl.onDragstart($ctrl.data, event)"
             dnd-dragend="$ctrl.data.dragging = false"
             dnd-selected="item.selected = !item.selected"
             ng-hide="$ctrl.data.dragging && item.selected"
             class="resume-item-holder line-item editable clickable"
             ng-click="$ctrl.clickSection($event, $index)" click-off
             on-click-off="$ctrl.clickSectionOff($event, $index)">
            <template-popover ng-if="$ctrl.displayPopover[$index]" field-check="$ctrl.fieldCheck" data="item"
                              template-data="$ctrl.data"
                              icon-add="true" icon-time="true" icon-cog="true" icon-trash="true" list-icon="true" key="$index">
            </template-popover>
            <div class="item-object passion-item">
                <div class="inner">
                    <div class="passion-item-container editable">
                        <div class="passion-item-content">
                            <div class="passion-item-icon" ng-if="item.icon.display">
                                <div class=""><i click-list-icon  class="{{::item.icon.value}} resume-second-color"></i></div>
                            </div>
                            <div class="editable-field-wrapper">
                                    <textarea
                                            msd-elastic ng-model="item.name"
                                            class="editable-field passion-item-title resume-first-color "
                                            placeholder="{{'yourPassion' | translate}}" autocomplete="off" rows="1"
                                            style="overflow: hidden; word-wrap: break-word; height: 20px;" capitalize-first>
                                    </textarea>
                            </div>
                        </div>
                        <div class="padded-item-content" ng-if="item.description.display">
                            <div class="editable-field-wrapper">
                                    <textarea
                                            msd-elastic ng-model="item.description.value"
                                            class="editable-field passion-item-description"
                                            placeholder="{{'description' | translate}}"
                                            maxlength="1000" autocomplete="off" rows="1"
                                            style="overflow: hidden; word-wrap: break-word; height: 22px;" capitalize-first></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>